body{
    margin: 0;
}

.top-bar{
 background-color: #a78787;
 height: 150px;
 
}
.top-bar h1{
    margin-top: 0;
    padding: 10px 0 0 0;
    text-align: center;
    color: aliceblue;
    justify-content: center ;
    align-items: center;

}
.top-bar p{
    margin-top: 0;
    text-align: center;
}
.image-section{
    background-color: #cf2222;
    height: 500px;
    display: inline-block;
    justify-content: center;
    align-items:center ;
    
    
}
.image-section img{
    border: solid 2px black;
    margin-top: 5px;
}